torch==2.0.1
aniso8601==9.0.1
numpy==1.25.1
attrs==23.1.0
click==8.1.6
Flask==2.3.2
flask-restx==1.1.0
flask_cors==4.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.18.4
MarkupSafe==2.1.3
pyrsistent==0.19.3
pytz==2023.3
six==1.12.0
Werkzeug==2.3.6
requests==2.31.0
Pillow==10.0.0
argparse==1.4.0
ultralytics==8.0.137
pytesseract==0.3.10
gunicorn==21.2.0
modules==1.0.0